@model WebApplication5.Models.ReturnBook

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ReturnBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReturnQty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnQty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookRent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookRent.BookRentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReturnBookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
